body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8; /* 배경색 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 150px;
    border: rgba(128, 128, 128, 0.24) dashed;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.login-container h1 {
    font-size: 60px;
    margin-bottom: 30px;
    color: #494444;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container input {
    width: 70%;
    padding: 10px 40px; /* Adjust the padding to make room for the image */
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 16px;
    background: url('../id.png') no-repeat 10px center; /* Change this to your image path */
    background-size: 20px; /* Adjust this size to fit your image */
}

.input-container.error input {
    border: 2px solid red; /* 빨간 테두리 */
}

.error-message {
    color: red; /* 빨간 글씨 */
    font-size: 0.8em; /* 작은 글씨 크기 */
    display: none; /* 기본적으로 숨김 */
}

.input-container:nth-child(2) input {
    background: url('../password.png') no-repeat 10px center; /* Change this to your image path */
    background-size: 20px; /* Adjust this size to fit your image */
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border: none;
    background-color: #a3b6c8;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #92a6b8;
}

a {
    color: #888;
    font-size: 12px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
