
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sample Page</title>
  <link rel="stylesheet" href="/css/askpost.css">
</head>
<body>
<!-- header -->
<div th:insert="~{header :: header}"></div>

<main>
  <div class="post-container layout">
    <h1>문의하기</h1>
    <hr class="title-underline">
    <form action="/mypage/ask" method="post">
      <div class="form-group">
        <label for="title">제목</label>
        <input type="text" id="title" name="title" placeholder="제목 입력해주세요">
      </div>
      <div class="form-group">
        <label for="content">내용</label>
        <div class="textarea-container">
          <div class="editor-header">
          </div>
          <textarea id="content" name="content" placeholder="문의 하실 내용을 입력해주세요"></textarea>
        </div>
      </div>
      <hr class="title-underline">
      <div class="form-buttons">
        <button type="button" class="cancel-button"><a href="/mypage/ask">취소</a></button>
        <button type="submit" class="submit-button">등록</button>
      </div>
    </form>
  </div>
</main>
</body>
</html>