<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성</title>
    <link rel="stylesheet" href="/css/write.css">
</head>
<body>
<!-- header -->
<div th:insert="~{header :: header}">
</div>

<main>
    <div class="post-container layout">
        <h1>게시글 작성</h1>
        <hr class="title-underline">
        <form action="/board/writepro" method="post">
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" id="title" name="title" placeholder="제목 입력">
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <div class="textarea-container">
                    <div class="editor-header">
                        <div class="icons">
                            <span class="image-icon"></span>
                            <span class="video-icon"></span>
                            <span class="attachment-icon"></span>
                        </div>
                    </div>
                    <textarea id="content" name="content" placeholder="내용 입력"></textarea>
                </div>
            </div>
            <hr class="title-underline">
            <div class="form-buttons">
                <button type="button" class="cancel-button"><a href="/board/list">취소</a></button>
                <button type="submit" class="submit-button">등록</button>
            </div>
        </form>
    </div>
</main>
</body>
</html>
