<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 관리</title>
    <link rel="stylesheet" href="/css/user_manage.css">
</head>
<body>
<div class="layout">
    <!-- Sidebar Menu -->
    <div th:insert="~{sidebar}"></div> <!-- 사이드바 포함 -->

    <!-- Main Content -->
    <div class="main-container">

        <!-- User Management Section -->
        <section class="user-management">
            <h1>게시물 관리</h1>
            <br><hr><br>
            <table>
                <thead>
                <tr>
                    <th>아이디</th>
                    <th>닉네임</th>
                    <th>글 제목</th>
                    <th>작성일자</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board : ${boards}">
                    <td th:text="${board.author.username}"></td>
                    <td th:text="${board.author.nickname}"></td>
                    <td>
                        <a th:href="@{/board/view(id=${board.id})}" th:text="${board.title}"></a>
                    </td>
                    <td th:text="${board.date}"></td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>
</body>
</html>
