<head>
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<header>
    <div class="header-container">
        <div class="top-bar">
            <div class="logo">
                <a href="/main">
                    <img src="/images/Logo.PNG" alt="logo">
                </a>
            </div>
            <div class="search-bar-container">
                <form id="searchForm" th:action="@{/board/search}" method="get">
                <input type="text" name="kw" id="search_kw" class="search-bar" placeholder="검색어 입력" th:value="${kw}">
                    <span class="search-icon"><img src="/images/search.png" alt=""></span>
                </form>
            </div>
            <div class="user-icons">
                <div class="bell-icon"><a href="../알림/notification.html">
                    <img src="/images/bell.png" alt="">
                </a></div>
                <div class="user-icon">
                    <img src="/images/user.png" alt="">
                    <ul>
                        <a href="/user/edit"><li>회원정보수정</li></a>
                        <a href="/mypage/myboard"><li>내가 쓴 게시글</li></a>
                        <a href="/mypage/myheart"><li>좋아요 누른 게시글</li></a>
                        <a href="/mypage/mypost"><li>저장 한 게시글</li></a>
                        <li><a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
                            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <nav>
            <ul class="main-menu">
                <li class="menu-item">게시글
                    <ul class="submenu">
                        <a href="/board/hot"><li>HOT 게시글</li></a>
                        <a href="/board/list"><li>최신 게시글</li></a>
                        <a href="/board/write"><li>게시글 작성하기</li></a>
                    </ul>
                </li>
                <li class="menu-item">1:1채팅
                    <ul class="submenu">
                        <li>1:1 채팅</li>
                    </ul>
                </li>
                <li class="menu-item">랭킹
                    <ul class="submenu">
                        <a href="/ranking/comments"><li>댓글수 랭킹</li></a>
                        <a href="/ranking/likes"><li>좋아요 랭킹</li></a>
                    </ul>
                </li>
                <li class="menu-item">자주 묻는 질문 (FAQ)
                    <ul class="submenu">
                        <a href="/faq"><li>자주 묻는 질문</li></a>
                    </ul>
                </li>
                <li class="menu-item">지원&문의
                    <ul class="submenu">
                        <li>지원 요청</li>
                        <li>고객센터</li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>