<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판 페이지</title>
  <link rel="stylesheet" href="/css/profile.css">
</head>

<body>
  <div th:insert="~{header :: header}"></div>
    <div class="content">
      <div class="profile-header">
        <div class="profile-image">
          <img th:src="@{${user.userImage.url}}" alt="Profile Image">
        </div>
        <div class="profile-info">
          <h2 th:text="${user.nickname}"> 닉네임 </h2>
          <p th:text="${user.intro}"> 소개글 </p>
        </div>
      </div>
      <div class="posts-section">
        <h3 th:text="${user.nickname + '님의 게시글'}"></h3><br>
        <hr>
        <div class="post-item" th:each="board : ${boards}">
          <div class="post-info" >
            <a th:href="'/board/view?id=' + ${board.id}" class="post-link">
              <div class="post-title" th:text="${board.title}">게시글 제목</div>
              <div class="post-meta" th:text="'댓글 수 ' + ${board.getCommentCount()} + ' ♥ ' + ${#lists.size(board.voter)}"></div>
              </div>
            </a>
          </div>

        </div>
    </div>
  </div>
</body>
</html>
