<head>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
</head>
<nav class="sidebar">
    <ul>
        <li class="menu-header"><h2>관리자 메뉴</h2></li>
        <br><hr>
        <li>
            <a href="/admin/users">회원</a>
            <ul class="submenu">
                <li><a href="/admin/users"><b>회원 관리</b></a></li>
            </ul>
        </li>
        <li>
            <a href="/admin/posts">게시글</a>
            <ul class="submenu">
                <li><a href="/admin/posts">게시글 관리</a></li>
            </ul>
        </li>
        <li>
            <a href="/admin/support">고객 응대</a>
            <ul class="submenu">
                <li><a href="/admin/support">문의</a></li>
            </ul>
        </li>
        <li class="logout">
            <a href="/main">사용자 뷰어</a>
            <a href="/user/logout">로그아웃</a>
        </li>
    </ul>
</nav>